.charsheet {background: #9a7647;}


/*Configure the tab buttons*/
.sheet-character,
.sheet-abilities,
.sheet-inventory,
.sheet-backstory {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ .sheet-character,
.sheet-tabstoggle[value="abilities"] ~ .sheet-abilities,
.sheet-tabstoggle[value="inventory"] ~ .sheet-inventory,
.sheet-tabstoggle[value="backstory"] ~ .sheet-backstory {
	display: block;
}

.sheet-active-abilities,
.sheet-passive-abilities,
.sheet-reactions-and-boosts {
	display: none;
}

/* show the selected tab */
.sheet-abilities-tabstoggle[value="active_abilities"] ~ .sheet-active-abilities,
.sheet-abilities-tabstoggle[value="passive_abilities"] ~ .sheet-passive-abilities,
.sheet-abilities-tabstoggle[value="reactions_and_boosts"] ~ .sheet-reactions-and-boosts {
	display: block;
}

.fieldsets {
	display: grid;
	gap: 2rem;
}

hr {
    background-color: #911d20;
    border: none;
    height: 3px;
  /* Set the hr color */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.character-sheet {
    background: rgb(250,244,242);
    padding: 20px;
    border-radius: 10px;
    width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.sheet-tab {
    padding: 10px 20px;
    cursor: pointer;
    background: #ddd;
    border: 1px solid #ccc;
    margin-right: 5px;
}
.sheet-tab.selected {
    background: #333;
    color: white;
}
.sheet-section {
    display: none;
    padding: 15px;
}
.sheet-section.selected {
    display: block;
}
.stat-roll {
    font-size: 18px !important;
}
.stats-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.stats-table td {
    border: 3px solid #911d20;
    padding: 8px;
    text-align: center;
}
.stat-display {
    font-size: 32px;
    font-weight: bold;
    display: table;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    border: none;
    background: transparent;
    color: #911d20;
    
    width: 50px;
}

.small-display {
    font-size: 14px;
    text-transform: capitalize;
    outline: solid #911d20 2px;
    padding: 0px 2px;
    font-weight: bold;
    display: table;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    border: none;
    background: transparent;
    color: #911d20;
    
    width: 50px;
}

h2 {
    text-decoration: underline;
}

:is(h1, h2, h3, h4, h5, h6) {
    color: #911d20;
}

.column-container {
    display: flex;
    column-gap: 3%;
}

.large-column-container {
    display: flex;
    column-gap: 1%;
}

.thirds-column {
    width: 33%;
}

.twothirds-column {
    width: 66%;
}


.fourths-column {
    width: 25%
}

.fifths-column {
    width: 20%
}

.fourfifths-column {
    width: 80%
}

.sixths-column {
    width: 16%;
}

.bounded-box {
    border: solid;
    border-color: #911d20;
    box-sizing: border-box;
    padding: 10px;
}

.smallmargin {
    margin-top: 4px; 
    margin-bottom: 4px;
}

.halfs-column {
    width: 50%;
}

textarea {
    height: 50px; /* Adjust height as needed */
}

input.maininput {
    font-size: 18px;
}

.sheet-tabs {
    display: inline-flex;
    flex-wrap: wrap;
}

.sheet-tabs button {
    background-color: #911d20;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    width: 90px;
    height: 50px;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.sheet-tabs button:hover {
    background-color: #bb760e;
}

/* Hide inactive limb icons 
------------------------------------------------
------------------------------------------------
*/

.charsheet .sheet-container {
    width: 280px;
}

.charsheet .inline-image {
    display: inline-block;
    padding: 0 !important;
}

.charsheet .sheet-container,
.charsheet .sheet-child {
    display: inline-block;
}

.charsheet .sheet-child {
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.charsheet .sheet-child input,
.charsheet .sheet-child input + label {
    display: none;
    z-index: 1;
}

.charsheet .sheet-child:hover {
    background: rgb(228, 131, 5);
    position:absolute;
    width: 100px;
    height: auto;
    z-index: 1;
    padding: 5px;
}

.charsheet .sheet-child:hover > div.sheet-limb-1-arm {
    display: none;
}

.charsheet .sheet-child:hover input,
.charsheet .sheet-child:hover input + label {
    display: inline;
}

.charsheet .sheet-child:hover input + label {
   margin-right: 50%
}

.charsheet .sheet-child:hover label {
    display: inline-block;
}

.charsheet div.sheet-limb-1-arm {
    background-position: -411px -1px;
    width: 50px;
    height: 50px;
    background: url("https://raw.githubusercontent.com/jahonius/Sacadia-Roll20-Sheet/refs/heads/master/resources/1-arm-icon.png");
    background-size:cover;
    background-repeat: no-repeat;
    color: transparent;
    display: none;
}

.charsheet div.sheet-limb-2-arm {
    background-position: -703px -1px;
    width: 50px;
    height: 50px;
    background: url("https://raw.githubusercontent.com/jahonius/Sacadia-Roll20-Sheet/refs/heads/master/resources/2-arm-icon.png");
    background-size:cover;
    background-repeat: no-repeat;
    color: transparent;
    display: none;
}

.charsheet div.sheet-limb-body {
    background-position: -411px -1px;
    width: 50px;
    height: 50px;
    background: url("https://raw.githubusercontent.com/jahonius/Sacadia-Roll20-Sheet/refs/heads/master/resources/body-icon.png");
    background-size:cover;
    background-repeat: no-repeat;
    color: transparent;
    display: none;
}

.charsheet div.sheet-limb-mind {
    background-position: -703px -1px;
    width: 50px;
    height: 50px;
    background: url("https://raw.githubusercontent.com/jahonius/Sacadia-Roll20-Sheet/refs/heads/master/resources/mind-icon.png");
    background-size:cover;
    background-repeat: no-repeat;
    color: transparent;
    display: none;
}

.charsheet div.sheet-limb-focus {
    background-position: -411px -1px;
    width: 50px;
    height: 50px;
    background: url("https://raw.githubusercontent.com/jahonius/Sacadia-Roll20-Sheet/refs/heads/master/resources/focus-icon.png");
    background-size:cover;
    background-repeat: no-repeat;
    color: transparent;
    display: none;
}

.charsheet div.sheet-limb-legs {
    background-position: -703px -1px;
    width: 50px;
    height: 50px;
    background: url("https://raw.githubusercontent.com/jahonius/Sacadia-Roll20-Sheet/refs/heads/master/resources/leg-icon.png");
    background-size:cover;
    background-repeat: no-repeat;
    color: transparent;
    display: none;
}

.charsheet .sheet-child:not(:hover) input.sheet-select-radio.sheet-limb-1-arm:checked ~ div.sheet-limb-1-arm,
.charsheet .sheet-child:not(:hover) input.sheet-select-radio.sheet-limb-2-arm:checked ~ div.sheet-limb-2-arm,
.charsheet .sheet-child:not(:hover) input.sheet-select-radio.sheet-limb-body:checked ~ div.sheet-limb-body,
.charsheet .sheet-child:not(:hover) input.sheet-select-radio.sheet-limb-mind:checked ~ div.sheet-limb-mind,
.charsheet .sheet-child:not(:hover) input.sheet-select-radio.sheet-limb-focus:checked ~ div.sheet-limb-focus,
.charsheet .sheet-child:not(:hover) input.sheet-select-radio.sheet-limb-legs:checked ~ div.sheet-limb-legs {
    display: block;
}
  
.sheet-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
}

.sheet-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sheet-sameline {
    display: flex;
    justify-content: space-between;
}

.sheet-slider {
    position: absolute;
    cursor: pointer;
    margin-left: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 68%;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

div.abilities-column + div.abilities-column {
    margin-left: 40px;
  }

.sheet-slider:before {
    position: absolute;
    height: 44px;
    width: 44px;
    left: 3px;
    bottom: 3px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    border-radius: 50%;
    text-align: center;
    content: ""
}

input:checked + .sheet-slider {
    background-color: #bd4d31;
}

input:checked + .sheet-slider:before {
    transform: translateX(8vw);
}

/* health bar */
div.sheet-healthbar {
    width: 230px;
    height: 20px;
    border: 2px solid black;
    color: black;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}
input.sheet-healthbar[value="0"] ~ div.sheet-healthbar {
    background: red;
}
input.sheet-healthbar[value="1"] ~ div.sheet-healthbar {
    background: linear-gradient(to left, red 90%, #255200 5%,#449600 95%, #adfc03 100%);
}
input.sheet-healthbar[value="2"] ~ div.sheet-healthbar {
    background: linear-gradient(to left, red 80%, #255200 10%,#449600 90%, #adfc03 100%);
}
input.sheet-healthbar[value="3"] ~ div.sheet-healthbar {
    background: linear-gradient(to left, red 70%, #255200 20%,#449600 80%, #adfc03 100%);
}
input.sheet-healthbar[value="4"] ~ div.sheet-healthbar {
    background: linear-gradient(to left, red 60%, #255200 30%,#449600 70%, #adfc03 100%);
}
input.sheet-healthbar[value="5"] ~ div.sheet-healthbar {
    background: linear-gradient(to left, red 50%, #255200 40%,#449600 60%, #adfc03 80%);
}
input.sheet-healthbar[value="6"] ~ div.sheet-healthbar {
    background: linear-gradient(to left, red 40%, #255200 40%,#449600 50%, #adfc03 70%);
}
input.sheet-healthbar[value="7"] ~ div.sheet-healthbar {
    background: linear-gradient(to left, red 30%, #255200 30%,#449600 40%, #adfc03 60%);
}   
input.sheet-healthbar[value="8"] ~ div.sheet-healthbar {
    background: linear-gradient(to left, red 20%, #255200 20%,#449600 30%, #adfc03 50%);
}
input.sheet-healthbar[value="9"] ~ div.sheet-healthbar {
    background: linear-gradient(to left, red 10%, #255200 10%,#449600 20%, #adfc03 40%);
} 
input.sheet-healthbar[value="10"] ~ div.sheet-healthbar {
    background: linear-gradient(to left, #255200 1%,#449600 10%, #adfc03 30%);
}
input.sheet-healthbar[value="11"] ~ div.sheet-healthbar {
    background: linear-gradient(to left, #255200 1%,#449600 10%, #adfc03 30%);
}

/* condition dice */
input.sheet-conditions[value="1"] ~ div.first-face {
    display: flex;
}
input.sheet-conditions[value="1"] ~ div.empty-face,
input.sheet-conditions[value="1"] ~ div.second-face,
input.sheet-conditions[value="1"] ~ div.third-face,
input.sheet-conditions[value="1"] ~ div.fourth-face,
input.sheet-conditions[value="1"] ~ div.fifth-face,
input.sheet-conditions[value="1"] ~ div.sixth-face {
    display: none;
}

input.sheet-conditions[value="2"] ~ div.second-face {
    display: flex;
}
input.sheet-conditions[value="2"] ~ div.empty-face,
input.sheet-conditions[value="2"] ~ div.first-face,
input.sheet-conditions[value="2"] ~ div.third-face,
input.sheet-conditions[value="2"] ~ div.fourth-face,
input.sheet-conditions[value="2"] ~ div.fifth-face,
input.sheet-conditions[value="2"] ~ div.sixth-face {
    display: none;
}

div.empty-face,
div.first-face,
div.second-face,
div.third-face,
div.fourth-face,
div.fifth-face,
div.sixth-face {
    display: none;
}

input.sheet-conditions[value="0"] ~ div.empty-face { display: flex; }
input.sheet-conditions[value="1"] ~ div.first-face { display: flex; }
input.sheet-conditions[value="2"] ~ div.second-face { display: flex; }
input.sheet-conditions[value="3"] ~ div.third-face { display: flex; }
input.sheet-conditions[value="4"] ~ div.fourth-face { display: flex; }
input.sheet-conditions[value="5"] ~ div.fifth-face { display: flex; }
input.sheet-conditions[value="6"] ~ div.sixth-face { display: flex; }

div.one-condition-text,
div.two-condition-text,
div.three-condition-text,
div.four-condition-text,
div.five-condition-text,
div.six-condition-text {
    display: none;
}

input.sheet-conditions[value="1"] ~ div.one-condition-text { display: block; }
input.sheet-conditions[value="2"] ~ div.two-condition-text { display: block; }
input.sheet-conditions[value="3"] ~ div.three-condition-text { display: block; }
input.sheet-conditions[value="4"] ~ div.four-condition-text { display: block; }
input.sheet-conditions[value="5"] ~ div.five-condition-text { display: block; }
input.sheet-conditions[value="6"] ~ div.six-condition-text { display: block; }

[class$="condition-text"] {
    font-size: 12px;
    font-weight: bold;
}

/* dice faces */
.first-face {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .second-face {
    display: flex;
    justify-content: space-between;
  }
  
  .second-face .pip:nth-of-type(2) {
    align-self: flex-end;
  }
  
  .third-face {
    display: flex;
    justify-content: space-between;
  }
    
  .third-face .pip:nth-of-type(2) {
    align-self: center;
  }
  
  .third-face .pip:nth-of-type(3) {
    align-self: flex-end;
  }
  
  .fourth-face, .sixth-face {
    display: flex;
    justify-content: space-between;
  }
  
  .fourth-face .column, .sixth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fifth-face {
    display: flex;
    justify-content: space-between;
  }
    
  .fifth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
    
  .fifth-face .column:nth-of-type(2) {
    justify-content: center;
  }
  
  [class$="face"] {
    padding: 4px;
    margin: 0 auto;
    
    background-color: #e7e7e7;
    width: 58px;
    height: 58px;

    object-fit: contain;
    
    box-shadow:
      inset 0 5px white, 
      inset 0 -5px #bbb,
      inset 5px 0 #d7d7d7, 
      inset -5px 0 #d7d7d7;
    
    border-radius: 10%;
  }
  
  .pip {
    display: block;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin: 4px;
  
    background-color: #333;
    box-shadow: inset 0 3px #111, inset 0 -3px #555;
  }

/* wound dot css */


/* talent */
input.right-align {
    float: right;
}

.italic-subtext {
    font-style: italic;
    color: #911d20;
    font-size: 12px;
    width: 70px;
}

/* talent roll divs */
.disadv-roll,
.normal-roll {
    display: none;
}

input[value="on"] ~ .normal-roll {
    display: flex;
}

input[value="0"] ~ .disadv-roll {
    display: flex;
}