.charsheet {background: #9a7647;}


/*Configure the tab buttons*/
.sheet-character,
.sheet-abilities,
.sheet-inventory {
	display: none;
}

/* show the selected tab */
.sheet-tabstoggle[value="character"] ~ .sheet-character,
.sheet-tabstoggle[value="abilities"] ~ .sheet-abilities,
.sheet-tabstoggle[value="inventory"] ~ .sheet-inventory {
	display: block;
}

.sheet-active-abilities,
.sheet-passive-abilities,
.sheet-reactions-and-boosts {
	display: none;
}

/* show the selected tab */
.sheet-abilities-tabstoggle[value="active_abilities"] ~ .sheet-active-abilities,
.sheet-abilities-tabstoggle[value="passive_abilities"] ~ .sheet-passive-abilities,
.sheet-abilities-tabstoggle[value="reactions_and_boosts"] ~ .sheet-reactions-and-boosts {
	display: block;
}

.fieldsets {
	display: grid;
	gap: 2rem;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
.character-sheet {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 1000px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.sheet-tabs {
    display: flex;
    border-bottom: 2px solid #333;
}
.sheet-tab {
    padding: 10px 20px;
    cursor: pointer;
    background: #ddd;
    border: 1px solid #ccc;
    margin-right: 5px;
}
.sheet-tab.selected {
    background: #333;
    color: white;
}
.sheet-section {
    display: none;
    padding: 15px;
}
.sheet-section.selected {
    display: block;
}
.stat-roll {
    font-size: 18px !important;
}
.stats-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
.stats-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}
.stat-display {
    font-size: 24px;
    font-weight: bold;
    display: table;
    margin: 0 auto;
    text-align: center;
    margin-top: 5px;
    border: none;
    background: transparent;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    width: 50px;
}
[name$="_color"][value="1"] ~ .stat-display {
    color: rgb(241, 223, 56);
}
[name$="_color"][value="2"] ~ .stat-display {
    color: rgb(213, 241, 56);
}
[name$="_color"][value="3"] ~ .stat-display {
    color: rgb(176, 241, 56);
}
[name$="_color"][value="4"] ~ .stat-display {
    color: rgb(124, 241, 56);
}
[name$="_color"][value="5"] ~ .stat-display {
    color: rgb(93, 241, 56);
}
[name$="_color"][value="6"] ~ .stat-display {
    color: rgb(18, 233, 47);
}
.column-container {
    display: flex;
    column-gap: 30px;
}
.thirds-column {
    width: 33%;
}

.smallmargin {
    margin-top: 4px; 
    margin-bottom: 4px;
}

.halfs-column {
    width: 50%;
}

textarea {
    height: 50px; /* Adjust height as needed */
}

.sheet-tabs button {
    background-color: #ec9615;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, border 0.3s ease;
}

.sheet-tabs button:hover {
    background-color: #bb760e;
}

/* Hide inactive limb icons 
------------------------------------------------
------------------------------------------------
*/

.charsheet .sheet-container {
    width: 280px;
}

.charsheet .inline-image {
    display: inline-block;
    padding: 0 !important;
}

.charsheet .sheet-container,
.charsheet .sheet-child {
    display: inline-block;
}

.charsheet .sheet-child {
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.charsheet .sheet-child input,
.charsheet .sheet-child input + label {
    display: none;
    z-index: 1;
}

.charsheet .sheet-child:hover {
    background: rgb(228, 131, 5);
    position:absolute;
    width: 100px;
    height: auto;
    z-index: 1;
    padding: 5px;
}

.charsheet .sheet-child:hover > div.sheet-limb-1-arm {
    display: none;
}

.charsheet .sheet-child:hover input,
.charsheet .sheet-child:hover input + label {
    display: inline;
}

.charsheet .sheet-child:hover input + label {
   margin-right: 50%
}

.charsheet .sheet-child:hover label {
    display: inline-block;
}

.charsheet div.sheet-limb-1-arm {
    background-position: -411px -1px;
    width: 50px;
    height: 50px;
    background: url("https://raw.githubusercontent.com/jahonius/Sacadia-Roll20-Sheet/refs/heads/master/resources/1-arm-icon.png");
    background-size:cover;
    background-repeat: no-repeat;
    color: transparent;
    display: none;
}

.charsheet div.sheet-limb-2-arm {
    background-position: -703px -1px;
    width: 50px;
    height: 50px;
    background: url("https://raw.githubusercontent.com/jahonius/Sacadia-Roll20-Sheet/refs/heads/master/resources/2-arm-icon.png");
    background-size:cover;
    background-repeat: no-repeat;
    color: transparent;
    display: none;
}

.charsheet div.sheet-limb-body {
    background-position: -411px -1px;
    width: 50px;
    height: 50px;
    background: url("https://raw.githubusercontent.com/jahonius/Sacadia-Roll20-Sheet/refs/heads/master/resources/body-icon.png");
    background-size:cover;
    background-repeat: no-repeat;
    color: transparent;
    display: none;
}

.charsheet div.sheet-limb-mind {
    background-position: -703px -1px;
    width: 50px;
    height: 50px;
    background: url("https://raw.githubusercontent.com/jahonius/Sacadia-Roll20-Sheet/refs/heads/master/resources/mind-icon.png");
    background-size:cover;
    background-repeat: no-repeat;
    color: transparent;
    display: none;
}

.charsheet div.sheet-limb-focus {
    background-position: -411px -1px;
    width: 50px;
    height: 50px;
    background: url("https://raw.githubusercontent.com/jahonius/Sacadia-Roll20-Sheet/refs/heads/master/resources/focus-icon.png");
    background-size:cover;
    background-repeat: no-repeat;
    color: transparent;
    display: none;
}

.charsheet div.sheet-limb-legs {
    background-position: -703px -1px;
    width: 50px;
    height: 50px;
    background: url("https://raw.githubusercontent.com/jahonius/Sacadia-Roll20-Sheet/refs/heads/master/resources/leg-icon.png");
    background-size:cover;
    background-repeat: no-repeat;
    color: transparent;
    display: none;
}

.charsheet .sheet-child:not(:hover) input.sheet-select-radio.sheet-limb-1-arm:checked ~ div.sheet-limb-1-arm,
.charsheet .sheet-child:not(:hover) input.sheet-select-radio.sheet-limb-2-arm:checked ~ div.sheet-limb-2-arm,
.charsheet .sheet-child:not(:hover) input.sheet-select-radio.sheet-limb-body:checked ~ div.sheet-limb-body,
.charsheet .sheet-child:not(:hover) input.sheet-select-radio.sheet-limb-mind:checked ~ div.sheet-limb-mind,
.charsheet .sheet-child:not(:hover) input.sheet-select-radio.sheet-limb-focus:checked ~ div.sheet-limb-focus,
.charsheet .sheet-child:not(:hover) input.sheet-select-radio.sheet-limb-legs:checked ~ div.sheet-limb-legs {
    display: block;
}
  
.sheet-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.sheet-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sheet-sameline {
    display: flex;
    justify-content: space-between;
}

.sheet-slider {
    position: absolute;
    cursor: pointer;
    margin-left: 20px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 68%;
    height: 235%;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
}

div.abilities-column + div.abilities-column {
    margin-left: 40px;
  }

.sheet-slider:before {
    position: absolute;
    height: 50px;
    width: 42px;
    left: 3px;
    bottom: 3px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    border-radius: 50%;
    text-align: center;
    content: ""
}

input:checked + .sheet-slider {
    background-color: #bd4d31;
}

input:checked + .sheet-slider:before {
    transform: translateX(8vw);
}